@model IEnumerable<PBL3_MVC.Models.UserModel>

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lý người dùng</h2>

<p>
    @Html.ActionLink("Thêm người dùng mới", "Create", "User", new {area = "Admin"}, new { @class = "btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            ID Người dùng
        </th>
        <th>
            Tên người dùng
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new {onclick = "return confirm('Bạn có chắc chắn muốn xóa không?');"})
        </td>
    </tr>
}

</table>
