@model IEnumerable<PBL3_MVC.Data.Tables.Seat>

@{
    ViewBag.Title = "Danh sách ghế";
    Layout = "~/Areas/BusStationArea/Views/Shared/_BusStationLayout.cshtml";
}

<h2>Danh sách ghế</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @{
                if (item.Status == false)
                {
                    @Html.ActionLink("Edit", "EditSeat", new { id = item.SeatID })
                }
            }
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Trở lại danh sách Lịch trình", "Index")
</div>
