@model PBL3_MVC.Models.BillModel

@{
    ViewBag.Title = "Hóa đơn";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Hóa đơn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            Bến xe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusStationName)
        </dd>

        <dt>
            Tên xe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusName)
        </dd>

        <dt>
            Ghế số
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>

        <dt>
            Điểm đi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>

        <dt>
            Điểm đến
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            Thời gian đi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            Thời gian đến
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationTime)
        </dd>

        <dt>
            Giá vé
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Ngày đặt vé
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Đặt vé" class="btn btn-success btn-default" style="margin:15px" />
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
