@model IEnumerable<PBL3_MVC.Models.ScheduleModel>

@{
    ViewBag.Title = "Danh sách chuyến đi";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Danh sách chuyến đi phù hợp</h2>

<table class="table">
    <tr>
        <th>
            Tên xe
        </th>
        <th>
            Tên tuyến
        </th>
        <th>
            Điểm đi
        </th>
        <th>
            Điểm đến
        </th>
        <th>
            Thời gian đi
        </th>
        <th>
            Thời gian đến
        </th>
        <th>
            Số lượng ghế
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RouteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepatureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSeat)
        </td>
        <td>
            @Html.ActionLink("Chọn tuyến", "ListSeat", new { id=item.Id })
        </td>
    </tr>
}

</table>
