@model IEnumerable<PBL3_MVC.Data.Tables.Bus>

@{
    ViewBag.Title = "Quản lý Xe";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lý Xe</h2>

<p>
    @Html.ActionLink("Thêm xe mới", "Create", "Buses", new { area = "Admin" }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Tên xe
        </th>
        <th>
            Tên bến
        </th>
        <th>
            Biển số xe
        </th>
        <th>
            Người đăng ký
        </th>
        <th>
            Tài xế
        </th>
        <th>
            Ngày cấp
        </th>
        <th>
            Ngày đăng ký
        </th>
        <th>
            Số lượng ghế
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusStation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver)
        </td>
        <td>
            @item.LicenseDate.ToString("yyyy/MM/dd")
        </td>
        <td>
            @item.RegDate.ToString("yyyy/MM/dd")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSeats)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.BusID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.BusID }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa không?');" })
        </td>
    </tr>
}

</table>
