@model PBL3_MVC.Data.Tables.Bus

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusStation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusStation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
