@model IEnumerable<PBL3_MVC.Data.Tables.Bus>

@{
    ViewBag.Title = "Quản lý Xe";
    Layout = "~/Areas/BusStation/Views/Shared/_BusStationLayout.cshtml";
}

<h2>Quản lý Xe</h2>

<p>
    @Html.ActionLink("Thêm xe mới", "Create",  "Buses", new { area = "BusStation" }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusStation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusStation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSeats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusID }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa không?');" })
        </td>
    </tr>
}

</table>
